# LangChain
langchain
langchain-core

# OpenAI Integration
langchain-openai
openai

# Anthropic
langchain-anthropic

# Google
langchain-google-genai
google-generativeai

# Hugging Face
langchain-huggingface
transformers
huggingface-hub

# Environment
python-dotenv

# Machine Learning
numpy
scikit-learn

groq
langchain-groq
sentence-transformers
chromadb
pypdf
python-dotenv

streamlit
python-dotenv
langchain
langchain-core
langchain-groq
groq
pandas
numpy
scikit-learn